#container
  display: flex
  align-items: center
  justify-content: center

  #info
    background-color: white
    border-radius: 10px
    padding: 50px
    box-shadow: 4px 6px 36px rgba(0, 0, 0, 0.13)

    h2
      font-size: 16px
      font-weight: 500
