<header>
  <h1>{{ title }}</h1>
  <div class="search">Búsqueda por nombre</div>
</header>
<main>
  <div id="cards">
    <div class="card" *ngFor='let poke of pokemons'>
      <div class="image">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ poke.id }}.png" />
      </div>
      <div class="data">
        <div class="name">{{ poke.name | titlecase }}</div> <em class="nro">({{ poke.id }})</em><br>
        <div class="types">{{ poke.types | titlecase }}</div>
      </div>
    </div>
  </div>
</main>
